@import "./mixin/mixin_buttons";


.buttonDetail {
    margin-top: 20px;
    text-align: center;

    >a {
        @include buttonNormal(250px, 50px, 16px, #FFF, #666);
    }
}

.buttonPlun {
    margin-top: 20px;
    text-align: center;

    >a {
        @include buttonNormal(250px, 50px, 16px, #FFF, #666);
    }
}

.buttonLineUp {
    margin-top: 20px;
    text-align: center;

    >a {
        @include buttonNormal(250px, 50px, 16px, #666, #a4a4a4);
    }
}

@media screen and (max-width: 800px) {
    %smpBtntyle {
        width: 70%;
        height: 30px;
        font-size: 12px;
        >span{
            line-height: 30px;
        }
    }
    .buttonDetail {
        margin-top: 14px;

        >a {
            @extend %smpBtntyle;
        }
    }

    .buttonPlun {
        margin-top: 14px;

        >a {
            @extend %smpBtntyle;
        }
    }

    .buttonLineUp {
        margin-top: 14px;

        >a {
            @extend %smpBtntyle;
        }
    }
}