/*@font-face {
    font-family: '任意のWEBフォント名';
    src: url('読み込むフォントファイルのパス') format('フォーマット名');
  }
  */

  @font-face {
    font-family: 'myfont';
    src: url('./font/My_Font.woff') format('woff'),
         url('./font/My_Font.ttf') format('truetype');
  }