@charset "utf-8";
@import '../color';

%link {
    // color: $sell_green_dark;
    color: $black_strong;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        opacity: 0.5;
    }
}

.itemDataWrap {
    >a {
        display: block;
    }

    .name_book {
        @extend %link;
        font-size: 2rem;
        color: $sell_green_dark;
        margin-bottom: 1rem;
    }

    .name_auther {
        @extend %link;
        font-size: 1.6rem;
        margin-bottom: .5rem;
    }

    .name_publisher {
        @extend %link;
        font-size: 1.6rem;
        margin-bottom: .5rem;
    }

    .name_series {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    .name_label {}

    .price_now {
        font-size: 1.2rem;
        margin-bottom: 1rem;

        >span {
            font-size: 1.6rem;
        }

    }

    .point {
        color: $read_orange;
        font-size: 1.2rem;
        margin-bottom: 1rem;

        >span {
            font-size: 1.6rem;
        }
    }

    .date_sales {
        color: $sell_green_dark;
        font-size: 1.4rem;
    }

    .book_detail {
        font-size: 1.4rem;
        font-weight: normal;
    }
}

.display_0,
.display_1 {

    .itemDataWrap {
        width: 90%;
        margin: auto;
        display: block;

        >a {
            display: block;
        }

        .name_book {
            @extend %link;
            color: $sell_green_dark;
            font-size: 1.2rem;
            max-height: 2.5rem;
            min-height: 2.5rem;
            overflow: hidden;
        }

        .name_auther {
            @extend %link;
            font-size: 1.2rem;
            margin-bottom: .5rem;
        }

        .price_now {
            font-size: 1rem;
            margin-bottom: 1rem;

            >span {
                font-size: 1.2rem;
            }
        }
    }
}