@charset "utf-8";
@import '../color';

.photoWrap {
    width: 20rem;
    height: 20rem;

    .imgBox {
        //width: 20rem;
        display: block;
        width: 20rem;
        height: 20rem;
        text-align: center;

        >img {
            max-width: 20rem;
            max-height: 20rem;
        }
    }
}