.siteSwitcher_footer {
    a {
        color: #ffffff;

        &:hover {
            opacity: 0.5;
        }
    }

    >div {
        margin: 0.5rem 0;

        >ul {
            margin: 3rem 0;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }
}