@charset "utf-8";
@import '../color';

%labelBox {
    display: block;
    margin-bottom: 5px;
    font-size: 0;
    list-style-type: none;

    >li {
        width: 80px;
        height: 13px;
        line-height: 13px;
        text-align: center;
        font-size: 9px;
        display: inline-block;
        border-radius: 1px;
        margin-right: 4px;

    }

    .label_new {
        border: 1px solid #e60012;
        color: #e60012;
    }

    .label_discount {
        border: 1px solid #2578B0;
        background: #2578B0;
        color: #ffffff;
    }

    .label_discount_num {
        border: 1px solid #2578B0;
        background: #2578B0;
        color: #ffffff;
    }

    .label_free {
        border: 1px solid #eb944d;
        background: #eb944d;
        color: #ffffff;
    }

    .label_finish {
        border: 1px solid #2a8e9d;
        background: #2a8e9d;
        color: #ffffff;
    }

}

.btn.point {
    text-align: center;
    background-color: transparent;
    border: 0;
    border-top: 1px solid #ff6600;
    border-bottom: 1px solid #ff6600;
    color: #ff6600;
    font-size: 10px;
    margin: 0 0 5px 0;
    padding: 1px 0;
    letter-spacing: normal;
    max-width: 100px;
}

.labelBox {
    @extend %labelBox;
    margin-bottom: 1rem;
}

.display_0,
.display_1 {
    .labelBox {
        @extend %labelBox;
        margin-bottom: 1rem;
        text-align: center;

        >li {
            width: 40px;
        }
    }
}