@charset "utf-8";
@import '../color';

.menuHeader {
    font-size: 1.2rem;
    margin-bottom: 3.1rem;

    >ul {
        list-style-type: none;
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: flex-end;

        >li {
            display: inline-block;
            width: 8rem;
            margin-right: 1.5rem;
            overflow: hidden;

            &:last-child {
                margin-right: 0;
            }

            >a {
                color: #000000;
                font-weight: normal;
                text-decoration: none;
                display: inline-block;
                width: 80%;
                height: 100%;
                text-align: left;
                position: relative;
                padding-left: 1.8rem;

                >span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: $sell_green_dark;
                    // border: solid 2px $sell_green_dark;
                    border-radius: 50%;
                    width: 1.3rem;
                    height: 1.3rem;

                    >span {
                        position: absolute;
                        top: .4rem;
                        left: .4rem;
                        // border: solid 1px $sell_green_dark;
                        background: #ffffff;
                        border-radius: 50%;
                        width: .5rem;
                        height: .5rem;
                    }
                }

                &.active {
                    text-decoration: underline;

                    >span {
                        background: #ffffff;
                        border: solid 2px $sell_green_dark;
                        width: .9rem;
                        height: .9rem;

                        >span {
                            background: $sell_green_dark;
                            top: .2rem;
                            left: .2rem;
                        }
                    }
                }

            }
        }
    }
}