@import '../color';

.nav_header {
    >ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
        margin: auto;
        //max-width: calc(98% - 40px);
        overflow-x: scroll;

        >li {
            margin: 0 0.5rem;
            padding: 0.3rem 1rem;
            white-space: nowrap;
            color: #ffffff;
            background: $sell_green_dark;
            border-radius: 2px;

            >a {
                color: #ffffff;
                text-decoration: none;
                ;
            }
        }
    }
}