.nav_header {
    >ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 98%;
        margin: auto;
        max-width: calc(98% - 40px);
        overflow-x: scroll;

        >li {
            margin: 0 0.5rem;
            padding: 0.3rem 1rem;
            white-space: nowrap;
            color: #ffffff;
            background: #2f9be2;
            border-radius: 2px;
        }
    }
}