.footer {
    width: 100%;
    font-size: 1.4rem;
    color: #ffffff;
    background: #2f9be2;
    padding-bottom: 3rem;

    .footer_inner {
        width: 100%;
        max-width: 1280px;
        margin: auto;
    }
}