@charset "utf-8";
@import '../color';

.itemListBox {
    .itemList {
        list-style-type: none;

        margin-bottom: 2rem;

        >div {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }
}

.display_0,
.display_1 {
    .itemListBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;

        .itemList {
            display: block;
            width: 14rem;
            margin-right: 1rem;

            >div {
                display: block;
            }
        }
    }


}